<a href="https://riverarchitect.github.io/RA_wiki/main_page">Home</a> 


<hr />

<p><details><summary>Installation</summary><p></p>

<ul>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Installation#started">Install and launch <em>River Architect</em></a></li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Installation#structure">Program file structure</a></li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Installation#req">Requirements</a></li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Installation#logs">Logfiles</a></li>
</ul>

<p></p></details></p>

<p><details><summary>Wiki</summary><p></p>

<ul>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Signposts#getstarted">Get Started</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/ModifyTerrain">Morphology (Terraforming)</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/VolumeAssessment">Terraforming Volume Calculator</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/SHArC">Seasonal Habitat Area Calculator (SHArC)</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Connectivity">Habitat Connectivity</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/ProjectMaker">Project Maker</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Mapping">Mapping</a>
  </li>
  <li><a href="https://riverarchitect.github.io/RA_wiki/Troubleshooting">Troubleshooting</a>
  </li>
<p></p></details></p>


<p><details><summary>Acknowledgment</summary><p></p>
  <ul>
    <li><a href="Acknowledgment">Acknowledgment and funding</a></li>
  </ul>
<p></p></details></p>

<hr />
<a href="https://github.com/RiverArchitect/program/edit/master/_includes/own/sidebar.html"><i>Edit Sidebar</i></a>
<hr />

